.vew{./
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "header header" 
  "sidebar content"
  }

  .header {
    grid-area: header;
    background-color: rgb(158, 213, 229);
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas: "hh hh hh hh"
    "refregerator danger perishability other "
    }
    
    .hh {
      grid-area: hh;
      text-align : center;
      background-color: rgb(158, 213, 229);
    }
    .refregerator {
      grid-area: refregerator;
      color: #000000;
      font-size: 16px;
      background-color: rgb(158, 213, 229);
    }
    
    .danger {
      grid-area: danger;
      color: rgb(0, 0, 0);
      font-size: 16px;
      background-color: rgb(199, 176, 154);
    }
    
    .perishability {
      grid-area: perishability;
      color: rgb(0, 0, 0);
      font-size: 16px;
      background-color: rgb(169, 198, 170);
    }
    
    .other{
      grid-area: other;
      padding-left: 70%;
      padding-bottom: 5%;
      color: #ffffff;
      font-size: 16px;
      background-color: rgb(158, 213, 229);
    }
    
    .sidebar{
      grid-area: sidebar;
      color: #ffffff;
      font-size: 16px;
      background-color: rgb(35, 0, 99);
    }
    
    .content{
      grid-area: content;
      background: rgb(255, 255, 255);
    }

    .hidden {
      display: none
    }

  .b-popup{
      width:100%;
      min-height:100%;
      background-color: rgba(0,0,0,0.5);
      overflow:hidden;
      position:fixed;
      top:0px;
  }
  .b-popup .b-popup-content{
      margin:40px auto 0px auto;
      width:1000px;
      height: 400px;
      padding:10px;
      background-color: #c5c5c5;
      border-radius:5px;
      box-shadow: 0px 0px 10px #000;
  }

  .a-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.a-popup .a-popup-content{
    margin:40px auto 0px auto;
    width:1000px;
    height: 400px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.carries-info-popup{
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
}
.carries-info-popup .carries-info-popup-content{
  margin:40px auto 0px auto;
  width:1000px;
  height: 400px;
  padding:10px;
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
}

  .green{
    color: green;
  }

  .contentProfil{
    margin-left: 1%;
  }

  .contentCalendar{
    margin-left: 1%;
  }

  .contentOrders{
    margin-left: 1%;
  }

  .contentOrdersHistory{
    margin-left: 1%;
  }

  .contentCarriers{
    margin-left: 1%;
  }

  .contentContainer{
    margin-left: 1%;
  }

  .contentCustoms{
    margin-left: 1%;
  }

  .contentWarehouse{
    margin-left: 1%;
  }

.chart {
  background: 
    conic-gradient(
      red 10%, 
      blue 0 35%,
      orange 0 
    );
  border-radius: 50%;
  width: 10%;
  height: 0;
  padding-top: 10%;
  float: left;
  padding-right: 20px;
}

.chartFillWarehouse{
  margin-left: 15%;
}

.chartGoods {
  background: 
    conic-gradient(
      red 95%, 
      blue 0
    );
  border-radius: 50%;
  width: 10%;
  height: 0%;
  padding-top: 10%;
  float: left;
  padding-right: 20px;
}

.tipeGoods {
  margin-left: 15%;
}

.chartCounts{
  background: 
  conic-gradient(
    violet 76%, 
    green 0
  );
border-radius: 50%;
width: 10%;
height: 0%;
padding-top: 10%;
float: left;
padding-right: 20px;
}

.contentMonitoring{
  padding-left: 1%;
}